
<div class="container">
  <h1>Ask a question</h1>
  <form action="/answer" >
    <input type="text" class="form-control" name="user_question">
    <input class="form control btn btn-warning"type="submit" value="Ask!">
  </form>
</div>

